@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --primary-color:#ffff;
    --highlight-color:#8E2424;
    --highlight-color-especial:#8e242413;
    --secundary-color:#101828;
    --tertiary-color:#667085;
    --tertiary-color-special:#F9FAFB;
    --typography:'Inter', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: var(--typography);

}
body{
    width: 100vw;
}

.header{
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
}

.header__navigation{
    display: flex;
    gap: 7.4rem;
    max-width: 50%;
    align-items: center;
}

.header__navigation__list{
    display: flex;
    gap: 2rem;
}

.list__item { 
    color: var(--tertiary-color);
    transition: 0.5s;
}

.list__item:hover{
    color: var(--secundary-color);
}
.header__account{
    display: flex;
    gap: 1.8rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.header__account__link{
    color: var(--tertiary-color);
}

.link__special{
    background-color: var(--highlight-color);
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    color: var(--primary-color);
}

.container__about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6% 0;
    text-align: center;
}

.container__litle__text{
    color: var(--highlight-color);
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.container__title{
    font-size: 3rem;
    margin-bottom: 1.5rem;

}

.container__text{
    font-size: 1.5rem;
    color: var(--tertiary-color);
    width: 50%;
    text-align: center;

}

.container__metrics{
    display: flex;
    padding: 0 80px 96px 80px;

}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;

}

.content__item{
    text-align: start;
    width: 20%;
}

.title__especial{
    font-size: 60px;
    color: var(--highlight-color);
}

.content__description{
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.content__text{
    font-size: 1rem;
    color: var(--tertiary-color);
    width: 75%;
    font-weight: 400;
}

.container__vacancies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
}

.container__vacancies__box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.vacancies__litle__title{
    font-size: 0.9rem;
    margin-bottom: 1rem;
    background-color: var(--highlight-color-especial);
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    font-weight: 500;
    text-align: center;
}

.vacancies__title{
    font-size: 2rem;
    margin-bottom: 1.25rem;
}

.vacancies__text{
    font-size: 1.25rem;
    margin-bottom: 4rem;
    font-weight: 400;

}

.vancancies__box__image{
    width: 100%;
    text-align: center;
}

.vacancies__image{
    width: 80%;
}

.container__vacancies__available{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.vacancies__available__group{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-bottom:4rem ;

}

.group__title{
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.vacancies__available__cards{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.vacancies__available__card:nth-child(3){
    margin-bottom: 1.5rem;
}

.vacancies__available__card{
    width: 100%;
    padding: 1.5rem;
    border: solid 1px #EAECF0;
    border-radius: 1rem;
    transition: 0.6s;
}

.vacancies__available__card:hover{
    box-shadow:
    0px 1.1px 3.6px rgba(0, 0, 0, 0.013),
    0px 3.1px 10px rgba(0, 0, 0, 0.033),
    0px 7.5px 24.1px rgba(0, 0, 0, 0.052),
    0px 25px 80px rgba(0, 0, 0, 0.07)
  ;
  cursor: pointer;

}

.card__title{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.card__text{
    font-size: 1rem;
    color: var(--tertiary-color);
    font-weight: 500;
}

.container__coments{
    display: flex;
    justify-content: center;
}

.container__coments__box{
    background: var(--highlight-color-especial);
    width: 80%;
    border-radius: 1rem;
    text-align: center;
    padding: 4rem 4rem 0 4rem;
    margin-bottom: 6rem;
}

.coments__title{
    font-size: 2rem;
    font-weight: 500;
    margin: 1rem 0 2rem 0;
}

.coments__image{
    margin-bottom: 1rem;
}

.coments__text{
    color: var(--secundary-color);
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.text__special{
    color: var(--tertiary-color);
    margin-bottom: 4rem;
    font-weight: 400;
}

.footer{
    background: var(--tertiary-color-special);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 6rem 0;

}

.footer__content{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__title{
    font-size: 2.25rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
}

.footer__text{
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--tertiary-color);
    margin-bottom: 2.5rem;
}

.news__letter{
    width: 100%;
}

.form__email{
    width: 35%;
    padding: 0.7rem;
    border-radius: 0.5rem;
    outline: none;
    border: solid 1px #EAECF0;
    margin-bottom: 2rem;
}

.btn{
    outline: none;
    border: none;
}

.copy{
    color: var(--tertiary-color);
    font-size: 1rem;
}

@media screen and (max-width:1180px) {
    .container__metrics{
    padding: 0 20px 96px 20px;
    }
}


@media screen and (max-width:960px) {
    .container__metrics{
    padding: 0 0 6rem 0;
    }

    .content{
        gap: 0;
        width: 100%;
    
    }
    
    .content__item{
        text-align: start;
        width: 23%;
    }
}


@media screen and (max-width:850px) {
    .container__title{
        font-size: 2.2rem; 
        margin-bottom: 0.5rem;
        text-align: center;
    }
    .container__text{
        font-size: 1.2rem;
        width: 85%;
        text-align: center;
    
    }
    .content{
        flex-direction: column;
        
    }
        
    .content__item{
        text-align: center;
        width: 80%;
        margin-top: 1.25rem;
    }

    .container__title{
    }
    .title__especial{
        font-size: 60px;
        color: var(--highlight-color);
    }
    
    .content__description{
        margin-bottom: 0;
    }
    
    .content__text{
        width: 100%;
        padding: 0.5rem;
    }

    .vacancies__image{
        width: 100%;
    }
    .container__vacancies__available{
        width: 100%;
    }
    
    .vacancies__available__group{
        width: 80%;
    }
    
    .group__title{
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 2rem;
    }
    
    .vacancies__available__cards{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    
    .vacancies__available__card:nth-child(3){
        margin-bottom: 1.5rem;
    }
    
    .vacancies__available__card{
        width: 100%;
        padding: 1.5rem;
        border: solid 1px #EAECF0;
        border-radius: 1rem;
        transition: 0.6s;
    }
}

